<div>
    <a href="/tdb"><button>Retour</button></a>
    <h3>Liste des réservations</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N° Catway</th>
                <th scope="col">Date d'arrivée</th>
                <th scope="col">Date de départ</th>
                <!--<th scope="col">Id</th>-->
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each reservationslist}}
            <tr>
                <td>{{this.catwayNumber}}</td>
                <td>{{this.checkIn}}</td>
                <td>{{this.checkOut}}</td>
                <!--<td>{{this._id}}</td>-->
                <td>
                    <div>
                        <a href="/reservation/list/{{this._id}}">
                        <button>Afficher détails</button>
                        </a>
                    </div>
                    
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  </div>